
:root{

    --primery-color:#223A52;
    --secendey-color:#F9A743;
    --bg-color:#FBFBFB;
    --gray-color:#BFBFBF;
    --black-color:#090E14;
    --font-regular: "IRANsans";
    --font-medium: "IRANsans Medium";
    --font-bold: "IRANsans Bold";

}
.services-facilities {
    margin-top: 5rem;
    position: relative;
   
     padding-top: 2rem;
}
.services-facilities::after{
    content: ' ';
    position: absolute;
    background-image: url('../images/home/repair-tools-svgrepo-com\ \(1\)\ 2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width:20rem;
    height: 20rem;
    top: -7rem;
    right: 0;
    z-index: -1;
}
.services-werraper{
    margin-top: 3rem;
}
.services-links {
    display: flex;
    justify-content: end;
    align-items: center;
}
.services-link {
    display: flex;
    align-items: center;
    color: var(--black-color);
    font-family: var(--font-medium)
}
.services-link svg{
width: 2rem;
height: 2rem;
}
.services-Appliance-repair {
    margin-top: 5rem;
     padding-top: 2rem;
}
.services-Electricity-electronics {
    margin-top: 5rem;
     padding-top: 2rem;
}
.services-board-repairs {
    margin-top: 5rem;
     padding-top: 2rem;
}
.services-Mobile-Repairs {
    margin-top: 5rem;
     padding-top: 2rem;
}



